::selection {
    background-color: red;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3f3f3;
}

main {
    height: 93vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        z-index: 2;
        height: 100px;
        width: 120px;
        background-color: rebeccapurple;
    }
}

.mainContainer {
    z-index: 1;
    position: absolute;
    background-color: black;
    width: 98vw;
    height: 89vh;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    height: 9vh;
    width: 100vw;
    background-color: #f3f3f3;
    justify-content: center;

    nav {
        background-color: red;
        height: 100%;
        width: 98vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .choices{
            width: 100px;
            height: 80%;
            background-color: blue;
        }
    }
}